@import "/src/assets/styles/variables.scss";

.container {
    width: 85%;
}

.botao {
    font-size: 1.375rem;
    font-family: Segoe UI, Regular;
    font-weight: 500;
    color: $color-purple;
    cursor: pointer;
}
.simbolo {
    font-weight:900;
}
.blue-button {
    padding: 18px 20px; ;
}
.titulo-card {
    font-size: 1.5rem;
  font-family: Segoe UI, Regular;
  font-weight: 680;
  color: $color-black;
}

.link-azul {
    font-size: 1rem;
    font-family: Segoe UI, Regular;
    font-weight: 400;
    color: $color-purple;
    cursor: pointer;
}
.subtitulo {
    font-size: 1rem;
    font-family: Segoe UI, Regular;
    font-weight: 600;
    color: $color-black;
    cursor: pointer;
}