<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <div class="custom-flex">
      <p class="titulo">Atividade</p>
    </div>
    <div class="custom-flex">
      <a>
        <div class="titulo edit-button" (click)="editar()">
          Editar
        </div>
      </a>
    </div>
  </div>

  <div class="card mt-3">
    <div class="row">
      <div class="col-12 col-sm-8">
        <div class="ms-sm-3">

          <p class="titulo"><b>Criar documento de planejamento</b></p>

          <div class="d-flex mt-3">
            <div class="d-flex justify-content-center tags-border me-3">
              <div class="tags">Administração</div>
            </div>
            <div class="d-flex justify-content-center tags-border">
              <div class="tags">Documentação</div>
            </div>
          </div>

          <div class="mt-3">
            <img class="image-clock" src=".\assets\images\icone.relogio.svg" width="20" height="23" />
            <span class="text-created-date ms-2">Criada em: 22/10/2022 7:00</span>
          </div>

          <div class="side-column">
            <div class="me-5 w-xm-100">

              <div class="d-flex d-sm-none purple-text flex-row-reverse mt-4">
                <p class="text-department text-center">Departamento de Finanças</p>
              </div>

              <div class="d-flex d-sm-none flex-row-reverse purple-text mt-2">
                <span class="ps-1 text-center">Previsto para: 11/11/2022 11:30</span><img class="image-calendar"
                  src=".\assets\images\icone.planejamento.svg" width="20" height="23" />
              </div>

              <div class="mt-3">

                <p class="sub-titulo"><b>Descrição</b></p>

                <p class="default-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rutrum,
                  risus
                  sed eleifend suscipit, eros nibh dignissim mi, sit amet iaculis risus orci sed nunc. Curabitur justo
                  odio, pharetra at ex id, scelerisque ullamcorper leo. Maecenas at consectetur magna. Ut in mi nec
                  ligula
                  iaculis pharetra eget sit amet sapien. Cras tempus erat et elit porta facilisis.
                  </p>

              </div>

              <div class="mt-4">

                <div class="d-flex justify-content-between text-nowrap">
                  <p class="sub-titulo me-3"><b>Tarefas</b></p>
                  <p class="add-button"><b>+ Adicionar</b></p>
                </div>

                <div class="d-flex justify-content-between mt-1">
                  <p class="default-text">Reunião sobre o planejamento</p>
                  <div class="progress-text d-none d-sm-block">
                    <img class="image-circle me-2" src=".\assets\images\icone.circulo.svg" width="10"
                      height="23" />Fazendo
                  </div>
                  <div class="d-flex">
                    <div class="progress-bar ms-2 me-2">
                      <div class="percentage"></div>
                    </div>
                    50%
                  </div>
                </div>

              </div>

              <div class="mt-4">

                <div class="d-flex justify-content-between text-nowrap">
                  <p class="sub-titulo me-3"><b>Subtarefas</b></p>
                  <p class="add-button"><b>+ Adicionar</b></p>
                </div>

                <div class="d-flex justify-content-between mt-1">
                  <p class="default-text">Realizar Reunião</p>
                  <label class="custom-checkbox" tab-index="0" aria-label="Checkbox Label">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>

              </div>

              <div class="mt-4">

                <p class="sub-titulo"><b>Histórico</b></p>

                <div class="d-flex justify-content-between mb-1">
                  <p class="default-text"><span class="hist-purple-text">Lucas Silva</span> adicionou <span
                      class="hist-purple-text">1 hora(s) trabalhadas</span>.</p>
                  <div>
                    <img class="image-clock" src=".\assets\images\icone.relogio.svg" width="17" height="23" />
                    <span class="text-created-date ms-2">22/10/2022 7:00</span>
                  </div>
                </div>

                <div class="d-flex justify-content-between">
                  <p class="default-text"><span class="hist-purple-text">Marina Cristina</span> alterou a descrição.</p>
                  <div>
                    <img class="image-clock" src=".\assets\images\icone.relogio.svg" width="17" height="23" />
                    <span class="text-created-date ms-2">25/10/2022 9:30</span>
                  </div>
                </div>

                <div class="d-flex flex-row-reverse mt-2">
                  <p class="add-button"><b>+ Adicionar Checklist</b></p>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="col-sm-4">
        <div class="me-sm-3">

          <div class="d-none d-sm-flex flex-row-reverse purple-text">
            <span class="ps-1">Previsto para: 11/11/2022 11:30</span><img class="image-calendar"
              src=".\assets\images\icone.planejamento.svg" width="20" height="23" />
          </div>

          <div class="d-none d-sm-flex purple-text flex-row-reverse mt-4">
            <p class="text-department">Departamento de Finanças</p>
          </div>

          <div class="mt-4 mt-sm-5">

            <div class="d-flex justify-content-between text-nowrap">
              <div class="sub-titulo me-3"><b>Responsáveis</b></div>
              <div class="add-button"><b>+ Adicionar</b></div>
            </div>

            <div class="default-text mt-2">
              <div class="d-flex mb-3">
                <img class="image-circle me-2" src=".\assets\images\icone.circulo.svg" width="25" height="23" />
                Lucas Silva
                <span class="role-text ms-2">Criador</span>
              </div>
              <div class="d-flex">
                <img class="image-circle me-2" src=".\assets\images\icone.circulo.svg" width="25" height="23" />
                Maria Cristina
              </div>
            </div>

          </div>

          <div class="mt-4">
            <p class="sub-titulo"><b>Progresso</b></p>

            <div class="d-flex mt-3">
              <div class="progress-bar-bigger me-2">
                <div class="percentage"></div>
              </div>
              50%
            </div>

          </div>

          <div class="mt-4">

            <div class="d-flex justify-content-between text-nowrap">
              <p class="sub-titulo me-3"><b>Horas</b></p>
              <p class="add-button"><b>+ Adicionar</b></p>
            </div>

            <div class="d-flex justify-content-between mt-2">
              <p class="default-text">Previsto</p>
              <p class="default-text">15:30</p>
            </div>

            <div class="d-flex justify-content-between mt-2">
              <p class="default-text">Utilizado</p>
              <p class="default-text">3:30</p>
            </div>

            <div class="d-flex justify-content-between mt-2">
              <p class="default-text">Minhas horas</p>
              <p class="default-text">2:00</p>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
