@import "/src/assets/styles/variables.scss";

// ------------------------------------------- Cards -------------------------------------------
.container {
    width: 85%;
}

.card {
  height: 100%;
  overflow: auto;
}

// ------------------------------------------- Buttons -------------------------------------------

.edit-button {
    font-size: 1.375rem;
    font-family: Segoe UI, Regular;
    font-weight: 500;
    color: $color-purple;
    cursor: pointer;
}

.add-button {
  font-size: 1.175rem;
  font-family: Segoe UI, Regular;
  font-weight: 400;
  color: $color-purple;
  cursor: pointer;
}

.cancel-button {
  font-size: 1.175rem;
  font-family: Segoe UI, Regular;
  font-weight: 400;
  color: $color-red;
  cursor: pointer;
}

// ------------------------------------------- Tags -------------------------------------------
.tags-border{
  border-radius: 20px;
  min-width: 120px;
  padding: 10px
}

.box-tags{
  overflow-x: auto;
}

// ------------------------------------------- Images -------------------------------------------

.image-clock{
  position: relative;
  bottom: 0.15rem;
  filter: invert(42%) sepia(0%) saturate(1%) hue-rotate(80deg) brightness(91%) contrast(84%);
}

.image-circle{
  position: relative;
  bottom: 0.1rem;
  filter: invert(57%) sepia(90%) saturate(2182%) hue-rotate(3deg) brightness(109%) contrast(102%);
}

.image-funcionario{
  border-radius: 50%;
}

.image-calendar{
  position: relative;
  bottom: 0.1rem;
  filter: invert(14%) sepia(63%) saturate(7064%) hue-rotate(254deg) brightness(95%) contrast(93%);
}

.image-tres-pontos {
  cursor: pointer;
}

// ------------------------------------------- Text -------------------------------------------
.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.text-department {
  font-size: 1.475rem;
  text-decoration: underline;

}

.purple-text {
  color: $color-purple;
  font-size: 1.075rem;
  font-family: Segoe UI, Regular;
}

.text-created-date{
  color: $color-dark-gray;
  font-size: 0.95rem;
}

.default-text{
  font-size: 1.1rem;
}

.progress-text{
  font-size: 0.9rem;
}

.hist-purple-text{
  color: $color-purple;
  text-decoration: underline;
}

.role-text{
  font-size: 0.9rem;
  color: $color-purple;

  position: relative;
  bottom: 0.2rem;
}

// ------------------------------------------- Progress Bar -------------------------------------------
.progress-bar{
  background: #EDEDED;
  width: 5rem;
  height: 1.1rem;
  border-radius: 0.5rem;

}

.progress-bar div{
  height: 1.1rem;
  border-radius: 0.5rem;
  width: 50%;
  background: $color-green;
}

.progress-bar-bigger{
  background: #EDEDED;
  width: 100%;
  height: 1.1rem;
  border-radius: 0.5rem;

}

.progress-bar-bigger div{
  height: 1.1rem;
  border-radius: 0.5rem;
  background: $color-green;
}


// ------------------------------------------- Checkbox -------------------------------------------
.custom-checkbox {
  cursor: pointer;
}

.custom-checkbox .label {
  font-size: 1.2em;
  margin: 0 10px;
}

.custom-checkbox .checkmark {
  width: 22px;
  height: 22px;
  border: 2px solid $color-purple;
  display: inline-block;
  border-radius: 3px;
  background: $color-purple url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
  transition: background-size 0.2s ease;
}

.custom-checkbox input:checked + .checkmark {
  background-size: 60%;
  transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}

.custom-checkbox input {
  display: none;
}

// ------------------------------------------- Box de Scroll -------------------------------------------

.box-scroll {
  height: 6.563rem;
  overflow-y: auto !important;
  overflow-x: hidden;
}

.box-scroll-subtarefas {
  max-height: 8.7rem;
  overflow-y: auto !important;
  overflow-x: hidden;
}


.box-scroll-funcionarios{
  max-height: 8rem;
  overflow-y: auto !important;
  overflow-x: hidden;
}

.box-scroll-atividades {
  max-height: 8.7rem;
  overflow-y: auto !important;
  overflow-x: hidden;
}


// ------------------------------------------- Responsive -------------------------------------------
@media (max-width: 576px)
{
  .box-scroll {
    height: 6.563rem;
    overflow-y: auto !important;
    overflow-x: auto;
  }

  .box-scroll-funcionarios{
    height: 7rem;
    overflow-y: auto !important;
    overflow-x: auto;
  }

  .box-scroll-atividades {
    height: 8.7rem;
    overflow-y: auto !important;
    overflow-x: auto;
  }
}

@media (max-width: 768px)
{
  .w-xm-100{
    width: 100%;
  }

  .text-department {
    text-decoration: none;
  }
}

@media (min-width: 768px)
{
  .side-column{
    height: 100%;
    border-right: 0.1rem solid #B3B3B3;
  }
}



.atividade-clicavel:hover {
  background-color: #B3B3B3;
  cursor: pointer;
}

.fa-trash {
  color: #e04251;
}

.fa-trash:hover {
  color: #eb1127;
}
