<div class="container">
    <div class="d-flex justify-content-between mt-5">
        <div class="custom-flex">
            <p class="titulo">Atividade</p>
        </div>
        <div class="custom-flex">
            <a>
                <div class="titulo botao" (click)="editar()">
                    Editar
                </div>
            </a>
        </div>
    </div>

    <div class="card mt-3">

        <div class="d-flex justify-content-between mt-1">
            <div class="custom-flex">
                <div class="titulo-card">
                    Criar documento de planejamento
                </div>
            </div>
            <div class="custom-flex">
                <div class="link-azul">
                    Previsto para: 25/03/2022 11:30
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-8 col-12">
                <div class="subtitulo">Descrição:</div>
                <div class="subtitulo">Histórico:</div>
            </div>
            <div class="col-lg-4 col-12">
                snajkkkkkjabsjbajbsjakjbs
            </div>
        </div>

    </div>