@import "/src/assets/styles/variables.scss";

.container {
    width: 85%;
}

.edit-button {
    font-size: 1.375rem;
    font-family: Segoe UI, Regular;
    font-weight: 500;
    color: $color-purple;
    cursor: pointer;
}

.add-button {
  font-size: 1.175rem;
  font-family: Segoe UI, Regular;
  font-weight: 400;
  color: $color-purple;
  cursor: pointer;
}

.purple-text {
  color: $color-purple;
  font-size: 1.075rem;
  font-family: Segoe UI, Regular;
}

.image-calendar{
  position: relative;
  bottom: 0.1rem;
  filter: invert(14%) sepia(63%) saturate(7064%) hue-rotate(254deg) brightness(95%) contrast(93%);
}

.text-department {
  font-size: 1.475rem;
  text-decoration: underline;

}

.tags-border{
  background-color: #FFE0E0;
  border-radius: 20px;
  width: 120px;
}

.tags{
  color: #FF3A3A;
  padding: 10px
}

.image-clock{
  position: relative;
  bottom: 0.15rem;
  filter: invert(42%) sepia(0%) saturate(1%) hue-rotate(80deg) brightness(91%) contrast(84%);
}

.text-created-date{
  color: $color-dark-gray;
  font-size: 0.95rem;
}

.default-text{
  font-size: 1rem;
}

.side-column{
  height: 32rem;
  border-right: 0.1rem solid #B3B3B3;
}

.image-circle{
  position: relative;
  bottom: 0.1rem;
  filter: invert(57%) sepia(90%) saturate(2182%) hue-rotate(3deg) brightness(109%) contrast(102%);
}

.progress-text{
  font-size: 0.9rem;
}

.progress-bar{
  background: #EDEDED;
  width: 5rem;
  height: 1rem;
  border-radius: 0.5rem;
}
