<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <div class="custom-flex">
      <p class="titulo">Categorias</p>
    </div>
    <div class="custom-flex">
      <a>
        <div class="titulo botao" routerLink="/administracao/categorias/nova-categoria">
          <span class="simbolo">+</span> Nova Categoria
        </div>
      </a>
    </div>
  </div>

  <div class="card mt-3">

    <table class="table table-hover mb-4">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Cor</th>
          <th scope="col">Exemplo</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody *ngFor="let categoria of categorias">
        <tr class="align-middle clickable" (click)="detalhesCategoria(categoria.id)">
          <td>{{categoria.nome}}</td>
          <td>
            <div class="cor-red" [ngStyle]="{'background-color': categoria.cor}"></div>
          </td>
          <td>
            <div class="d-flex justify-content-center tags-border" [ngStyle]="{'background-color': categoria.cor}">
              <div class="text-center text-break">{{categoria.nome}}</div>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-md" tooltip="Excluir"
              (click)="deletarCategoria($event, categoria.id)">
              <i class="fa fa-trash "></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>




  </div>
</div>
