<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <div class="custom-flex">
      <p class="titulo">Categorias</p>
    </div>
    <div class="custom-flex">
      <a>
        <div class="titulo botao" (click)="cadastrarCategoria()">
          <span class="simbolo">+</span> Nova Categoria
        </div>
      </a>
    </div>
  </div>

  <div class="card mt-3">

    <table class="table table-hover mb-4">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Cor</th>
          <th scope="col">Exemplo</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody *ngFor="let categoria of categorias">
        <tr class="align-middle">
          <td>{{categoria.nome}}</td>
          <td>
            <div class="cor-red" [ngStyle]="{'background-color': '#'+categoria.cor}"></div>
          </td>
          <td>
            <div class="d-flex justify-content-center tags-border" [ngStyle]="{'background-color': '#'+categoria.cor}">
              <div class="text-center text-break">{{categoria.nome}}</div>
            </div>
          </td>
          <td><i class="fas fa-edit"></i></td>
          <td>Excluir</td>
        </tr>
      </tbody>
    </table>



  </div>
</div>
