@import "/src/assets/styles/variables.scss";

.container {
    width: 85%;
}

.botao {
    font-size: 1.375rem;
    font-family: Segoe UI, Regular;
    font-weight: 500;
    color: $color-purple;
    cursor: pointer;
}
.simbolo {
    font-weight:900;
}
.cor-blue {
    border-radius: 50%;
    background-color: $color-blue;
    width: 26px;
    height: 26px;
}
.cor-red {
    border-radius: 50%;
    background-color: $color-red;
    width: 26px;
    height: 26px;
}


