<div class="container">

  <div class="d-flex justify-content-between mt-5">
    <div></div>
    <div class="custom-flex">
      <a>
        <div class="titulo botao clickable">
          + Personalizar Dashboard
        </div>
      </a>
    </div>
  </div>


  <div class="row">

    <div class="col-lg-7 col-12 mt-5">
      <div class="col-lg-11 col-12">
        <div class="titulo">
          Horas
        </div>
        <div class="card mt-4">
          <app-resumo-horas></app-resumo-horas>
        </div>

        <div class="titulo mt-5">
          Planejamentos
        </div>
        <div class="card mt-4">

        </div>
      </div>

    </div>
    <div class="col-lg-5 col-12 mt-5">
      <div class="col-12">
        <div class="titulo">
          Funcionarios
        </div>
      </div>
      <div class="card mt-4">

      </div>

    </div>
  </div>

</div>
