@import "/src/assets/styles/variables.scss";


.card {
    max-height: 19rem;
    overflow-x: auto;
}

.botao {
    font-size: 1.375rem;
    font-family: Segoe UI, Regular;
    font-weight: 500;
    color: $color-purple;
    cursor: pointer;
}

/* Imagens */
.image-circle {
    position: relative;
    bottom: 0.1rem;
    filter: invert(57%) sepia(90%) saturate(2182%) hue-rotate(3deg) brightness(109%) contrast(102%);
}

.apelidoFuncionario {
    font-weight: 625!important;
    font-size: 1rem;
    font-family: Segoe UI, Regular;
}
.atividadeTexto {
    font-weight: 575!important;
    font-family: Segoe UI, Regular;
}
.table-atividades tr:first-child td{
    padding-top: 1.5rem;
}
