@import "/src/assets/styles/variables.scss";

.card{
  height: 100%;
}

.dialog-title {
  font-family: 'Segoe UI', bold;
  font-size: 18px;
  color: $color-purple;
  font-weight: 650;
}


.tags-border{
  border-radius: 20px;
  width: 120px;
  padding: 10px
}


.dialog-text {
  font-family: 'Segoe UI', bold;
  font-size: 14px;
  font-weight: 600;
  color: $color-black;
}


.modal-card{
  min-width: 23rem;
}

@media(max-width: 992px){
  .modal-card{
    min-width: 15rem;
  }
}
