<div class="container">

    <div class="d-flex justify-content-between mt-5">
        <div class="custom-flex">
            <p class="titulo">Meus Departamentos</p>
        </div>
        <div class="custom-flex">
            <a>
                <div class="titulo botao" (click)="novoDepartamento()">
                   <b>+</b> Novo Departamento
                </div>
            </a>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-auto" *ngFor="let departamento of departamentos">
        <mat-card class="example-card mt-3 clickable" (click)="detalhesDepartamento()">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h1 class="text-center texto-card">
                {{departamento.nome}}
              </h1>
            </mat-card-content>
          </mat-card>
        </div>




    </div>

</div>
