<nav class="navbar navbar-expand-lg" style="background-color: rgb(255, 255, 255);">
  <div class="container-fluid">

    <div class="col-3">
      <img class="d-inline-block align-top clickable" src=".\assets\images\logo.svg" width="42" height="42"
        (click)="irParaDashboard()" />
    </div>

    <div class="col-1">
      <a (click)="opened=!opened">
        <img class="d-inline-block align-top seta clickable" src=".\assets\images\SetaGrandeNav.svg" width="32"
          height="32" id="seta" />
      </a>
    </div>

    <!--
    <div class="col-5">
      <form class="d-flex" role="search">
        <div id="icone" class="custom-input d-flex align-items-center">
          <mat-icon class="pesquisar">search</mat-icon>
          <input class="custom-appearance" type="search" placeholder="  Pesquisar" aria-label="Search">
        </div>
      </form>
    </div>
  -->

    <div class="col-7"></div>

    <div class="col d-flex justify-content-center">
      <div class="align-self-center me-4">
        <img class="d-inline-block clickable" src=".\assets\images\shield-svgrepo-com.svg" width="32" height="32"
          (click)="alternarModoAdmin()" [ngClass]="{'admin-icon-purple': modoAdmin, 'admin-icon-black': !modoAdmin}">
      </div>
      <div class="dropdown" tabindex="0" id="drop">

        <img *ngIf="userImg == ''" class="d-inline-block clickable" src=".\assets\images\Perfil.svg" width="46" height="46"
        class="nav-link dropdown-toggle imagem" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" />
        <img *ngIf="userImg != ''" class="d-inline-block clickable" src="{{userImg}}" width="46" height="46"
        class="nav-link dropdown-toggle imagem" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" />

        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink" >
          <a class="dropdown-item" (click)="irParaPerfil()">Dados do Perfil</a>
          <a class="dropdown-item" (click)="logoff()">Sair</a>
        </div>
      </div>

    </div>

  </div>
</nav>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">



    <div class="caixa-menu ">
      <div class="opcao-menu clickable" (click)="irParaDashboard()">
        <img class="d-inline-block align-top perfil" src=".\assets\images\icone.dashboard.svg" width="20" height="20" />
        Dashboard
      </div>
      <div class="opcao-menu clickable mt-4">
        <img class="d-inline-block align-top perfil" src=".\assets\images\icone.planejamento.svg" width="20"
          height="20" /> Planejamento
      </div>
      <div class="opcao-menu clickable mt-4" (click)="irParaAtividades()">
        <img class="d-inline-block align-top perfil" src=".\assets\images\icone.atividade.svg" width="20" height="20" />
        Atividades
      </div>
      <div class="opcao-menu clickable mt-4" (click)="irParaDepartamentos()">
        <img class="d-inline-block align-top perfil" src=".\assets\images\icone.departamentos.svg" width="20"
          height="20" /> Departamentos
      </div>
      <div class="opcao-menu clickable mt-4" (click)="irParaHoras()">
        <img class="d-inline-block align-top perfil" src=".\assets\images\icone.horas.svg" width="20" height="20" />
        Horas
      </div>
    </div>



  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>