@import "/src/assets/styles/variables.scss";

nav {
    border-bottom: 1px solid $color-dark-gray;
    height: 4.2rem;
}
.nav-bar {
    background-color: $color-white;
}
.perfil {
    border-radius: 50%;
}
.seta {
    font-size: 1.8rem;
    margin-right: 5%;
}
.logo {
  height: 4.125rem;
  width: 10rem;
}

//Input Central no Nav-bar
.custom-input {
    border-radius: 3px;
    color: #848484;
    width: 100%;
    height: 2.375rem;
    padding: 1.5%;
    outline: none;
    background-color: $color-gray !important;
    border: 1px solid rgb(212, 212, 212);
}
.custom-appearance {
    outline: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: #848484;
    width: 100%;
    height: 100%;
  }
  /* Chrome, Safari, Edge, Opera */
  .custom-appearance::-webkit-outer-spin-button,
  .custom-appearance::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  .custom-apperance[type=number] {
    -moz-appearance: textfield;
  }

  #icone:focus-within {
    border: 1px solid $color-blue;
  }
  .custom-input:focus-within {
    caret-color: 1px solid $color-purple;
  }
  .custom-appearance:focus {
    caret-color: $color-purple;
  }

//Mat Side Bar

mat-sidenav-container {
  height: calc(206vh - 115vh);
  background-color: $color-gray;
}
mat-sidenav {
  width: 17.5rem !important;
}
::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: $color-gray;
}
::ng-deep .mat-drawer:not(.mat-drawer-side) {
  box-shadow: none;
}

//dentro do Side Bar
.caixa-menu {
  margin-top: 7.6rem;
  margin-left: 2rem;
}
.opcao-menu {
  font-size: 1.125rem;
  font-family: Segoe UI, Regular;
  font-weight: 450;
  color: $color-black;
}
.config {
  margin-top: 21.2rem;
}