<div class="container">
    <div class="d-flex justify-content-between mt-5">
        <div class="custom-flex">
            <p class="titulo">Nova atividade</p>
        </div>
        <div class="custom-flex">
            <a>
                <div class="titulo botao" (click)="cancelar()">
                    Cancelar
                </div>
            </a>
        </div>
    </div>

    <div class="card mt-3">

        <div class="col-12">
            <label class="label-text">Titulo:</label>
            <div class="form-floating">
                <input type="text" id="inputCategoria" class="form-control form-control-lg" placeholder="categoria"/>
                <label for="inputCategoria" class="label-input">Criar Novo...</label>
            </div>
        </div>

        <div class="col-12 mt-2">
            <label class="label-text">Descrição:</label>
            <div class="form-floating">
                <input type="text" id="inputCategoria" class="form-control form-control-lg form-control-descricao" placeholder="categoria"/>
                <label for="inputCategoria" class="label-input">Criar Novo...</label>
            </div>
        </div>

        <div class="col-12 mt-3">
            <button class="blue-button"> Criar Atividade </button>
        </div>

      
    </div>
</div>
