@import "/src/assets/styles/variables.scss";

.container-fluid {
    background-color: $color-white !important;
    border-radius: 5px;
    height: 14rem;
}

#chart {
 
    height: 600px!important;
    padding: 1.875rem;
  }
  