<div class="container-fluid" *ngIf="dadosGrafico == true">
  <div id="chart"  >
    <!--
      <apx-chart [series]="chartSeries" [chart]="chartDetails" [labels]="chartLabels" [title]="chartTitle" [dataLabels]="chartDataLabels"></apx-chart>
      -->
    <apx-chart [series]="chartSeries" [chart]="chartDetails" [labels]="chartLabels"
      [dataLabels]="chartDataLabels"></apx-chart>
  </div>



</div>
<div class="container-fluid d-flex align-items-center justify-content-center" *ngIf="dadosGrafico == false" >

    
  <div class="col-12 text-center">
    <div class="mt-3 mb-3 aviso">
      Não existe nenhum registro de atividade!
    </div>
  </div>

</div>