@import "/src/assets/styles/variables.scss";

.card{
  height: 100%;
}

.dialog-title {
  font-family: 'Segoe UI', bold;
  font-size: 25px;
  color: #000000;
  font-weight: 600;
}



.dialog-text {
  font-family: 'Segoe UI', bold;
  font-size: 20px;
  font-weight: 400;
  color: $color-black;
  line-height: 200%;
}

.dialog-text-2 {
  font-family: 'Segoe UI', bold;
  font-size: 20px;
  font-weight: 400;
  color: $color-black;
  line-height: 150%;
  margin-bottom: 0px;
}


.modal-card{
  min-width: 23rem;
}

@media(max-width: 992px){
  .modal-card{
    min-width: 15rem;
  }
}

