<section class="vh-100 image">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-5">
          <div class="card">
            <div class="row g-0">
              <div class="col-12 d-flex align-items-center">
                <div class="card-body p-2 p-lg-3">
  
                  <form [formGroup]="emailForm">
  
                    <div class="d-flex align-items-center justify-content-center mb-3 pb-2">
                      <img class="logo" src=".\assets\images\departerLogo.png">
                    </div>
  
                    <div class="d-flex justify-content-center mb-2 pb-2">
                      <h1 class="login-text" >Esqueceu a sua senha</h1>
                    </div>
  
                    <div class="form-floating mb-3">
                      <input type="email" id="inputEmail" class="form-control form-control-lg" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" placeholder="nome@email.com" formControlName="email" required/>
                      <label for="inputEmail">Email</label>
                      <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
                        E-mail é obrigatorio.
                      </div>
                      <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
                        Endereço de E-mail inválido.
                      </div>
                    </div>

                  </form>
  
                    <div class="d-flex justify-content-center pt-1 mb-4">
                      <button class="btn btn-purple col-12" type="button" [disabled]="!emailForm.valid" (click)="enviar()">Enviar</button>
                    </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  