@import "/src/assets/styles/variables.scss";



.card {
    height: 100%;
    overflow: auto;
  }
.itensTabela {
    font-size: 1rem;
    font-family: Segoe UI, Regular;
    font-weight: 600;
    color: $color-blue;
}
