<div class="container">

    <div class="col-12 mt-5 mb-4">
        <div class="titulo">
            Horas
        </div>
    </div>

    <app-resumo-horas></app-resumo-horas>

    <div class="card mt-4 mb-4">

        <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">Item relacionado</th>
                <th scope="col" (click)="ordenarPorDataOuMinutos('minutos')"><span class="clickable">Horas <span [hidden]="ordemAtual == 'data'"><i class="seta fas fa-chevron-down" [hidden]="ordemMinutos == 'desc'"></i><i class="seta fas fa-chevron-up" [hidden]="ordemMinutos == 'asc'"></i></span></span></th>
                <th scope="col">Usuário</th>
                <th scope="col" (click)="ordenarPorDataOuMinutos('data')"><span class="clickable">Data <span [hidden]="ordemAtual == 'minutos'"><i class="seta fas fa-chevron-down" [hidden]="ordemData == 'asc'"></i><i class="seta fas fa-chevron-up" [hidden]="ordemData == 'desc'"></i></span></span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hora of horas" class="clickable"
              (click)="irAtividade(hora.atividadeId)">
                <td class="itensTabela">{{hora.atividade.titulo}}</td>
                <td class="itensTabela">{{transformarMinutosEmHoras(hora.minutos)}} </td>
                <td class="itensTabela">Eu</td>
                <td class="itensTabela">{{hora.dataCriacao | date:'dd/MM/yyyy HH:mm:ss'}}</td>

              </tr>
            </tbody>
          </table>

    </div>
</div>
