<div class="container">

    <div class="col-12 mt-5 mb-4">
        <div class="titulo">
            Horas
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col bloco text-center ">
                <div class="mt-4">
                    <p class="tituloTempo">Mês passado</p>
                </div>
                <div class="mt-1">
                    <span class="tempo">140h 45m</span>
                </div>
                <div class="mt-1 mb-4">
                    <span class="descricao laranja">2h 15min acima da média</span>
                </div>
            </div>

            <div class="col bloco text-center ">
                <div class="mt-4">
                    <p class="tituloTempo">Mês vigente</p>
                </div>
                <div class="mt-1">
                    <span class="tempo">78h 30m</span>
                </div>
                <div class="mt-1 mb-4">
                    <span class="descricao verde">61h restantes</span>
                </div>
            </div>

            <div class="col bloco text-center ">
                <div class="mt-4">
                    <p class="tituloTempo">Hoje</p>
                </div>
                <div class="mt-1">
                    <span class="tempo">40h 15m</span>
                </div>
                <div class="mt-1 mb-4">
                    <span class="descricao laranja">3h 45min restantes</span>
                </div>
            </div>
           

        </div>

    </div>

    <div class="card mt-4 mb-4">

        <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">Item relacionado</th>
                <th scope="col">Horas</th>
                <th scope="col">Usuário</th>
                <th scope="col">Data adicionado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="itensTabela">Criar documento de planejamento</td>
                <td class="itensTabela">4H</td>
                <td class="itensTabela">Eu</td>
                <td class="itensTabela">10/03/2023 10:18</td>
              </tr>
            </tbody>
          </table>

    </div>
</div>