<div class="container">

    <div class="col-12 mt-5 mb-4">
        <div class="titulo">
            Horas
        </div>
    </div>

    <app-resumo-horas></app-resumo-horas>

    <div class="card mt-4 mb-4">

        <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">Item relacionado</th>
                <th scope="col">Horas</th>
                <th scope="col">Usuário</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hora of horas" class="clickable"
              (click)="irParaAtividadeHora(hora.atividadeId)">
                <td class="itensTabela">{{hora.atividade.titulo}}</td>
                <td class="itensTabela">{{transformarMinutosEmHoras(hora.minutos)}} </td>
                <td class="itensTabela">Eu</td>
                <td class="itensTabela">{{hora.dataCriacao | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td class="align-middle"> <img class="d-inline-block align-top perfil clickable"
                  src=".\assets\images\tres-pontos.svg" width="20" height="18" (click)="irAtividade(hora.atividadeId)" />
                </td>
              </tr>
            </tbody>
          </table>

    </div>
</div>
