<table class="table table-borderless">
  <thead>
    <th>Entrega</th>
    <th>Descrição</th>
    <th>Usuário</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr *ngFor="let atividade of atividades; let i = index">
      <td class="atividadeTexto">
        {{atividade.dataEntrega | date: 'dd/MM/yyyy'}}
      </td>
      <td class="atividadeTexto">
        {{atividade.titulo}}
      </td>
      <td class="align-middle">
        <div class="d-flex">
          <div *ngFor="let funcionario of atividade.funcionarios; let i = index">
            <img class="image-circle me-2" src=".\assets\images\icone.circulo.svg" width="30" height="28"
              *ngIf="i<1" />
          </div>
          <div class="d-flex justify-content-center more-funcionarios-circle me-2"
            *ngIf="atividade.funcionarios.length > 1">
            <div class="more-funcionarios-text">+{{atividade.funcionarios.length - 1}}</div>
          </div>
        </div>
      </td>
      <td class="atividadeTexto">
        <img class="image-circle me-1" src=".\assets\images\icone.circulo.svg" width="10" height="23" />
        {{atividade.status}} Finalizado
      </td>
      <td class="align-middle"> <img class="d-inline-block align-top perfil clickable"
        src=".\assets\images\tres-pontos.svg" width="20" height="18" (click)="irAtividade(atividade.id)" />
      </td>

    </tr>
  </tbody>
</table>
