<table class="table table-borderless">
  <thead>
    <th>Entrega</th>
    <th>Descrição</th>
    <th>Usuário</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr *ngFor="let atividade of atividadesPaginadas; let i = index">
      <td class="atividadeTexto">
        {{atividade.dataEntrega | date: 'dd/MM/yyyy'}}
      </td>
      <td class="atividadeTexto">
        {{atividade.titulo | slice:0:20}}{{atividade.titulo.length > 20 ? '...' : ''}}
      </td>
      <td class="align-middle">
        <div class="d-flex">
          <div *ngFor="let funcionario of atividade.funcionarios; let i = index">
            <img class="image-funcionario me-2" src="{{funcionario.imagem}}" width="31" height="29"
                  *ngIf="i<1" [title]="funcionario.nome" (error)="substituirImagem($event)"/>
          </div>
          <div class="d-flex justify-content-center more-funcionarios-circle me-2"
            *ngIf="atividade.funcionarios.length > 1">
            <div class="more-funcionarios-text">+{{atividade.funcionarios.length - 1}}</div>
          </div>
        </div>
      </td>
      <td class="atividadeTexto align-middle">
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-circle icon-circle me-2" [style.color]="getCorStatusAtividade(atividade.statusAtividade)"></i>
          {{ getNomeStatusAtividade(atividade.statusAtividade) }}
        </div>
      </td>
      <td class="align-middle"> <img class="d-inline-block align-top perfil clickable"
        src=".\assets\images\tres-pontos.svg" width="20" height="18" (click)="irAtividade(atividade.id)" />
      </td>

    </tr>
  </tbody>
</table>

<mat-paginator [length]="atividades.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
</mat-paginator>
