<div class="container">

  <div class="d-flex justify-content-between mt-5">
    <div class="custom-flex">
      <p class="titulo">Meu Perfil</p>
    </div>
    <div class="custom-flex">
      <a>
        <div class="titulo botao" (click)="changeEditMode()">
          {{modoEditar ? "Cancelar Edição" : "Editar"}}
        </div>
      </a>
    </div>
  </div>

  <div class="card mt-3">
    <div class="row">
      <div class="col-lg-5 col-12 mt-3">
        <div class="form-row">
          <div class="form-group m-0">
            <input type="file" (change)="onFileChange($event)" #file class="form-control is-invalid" placeholder=""
              style="display: none">
          </div>
        </div>
        <div class="text-center">
          <img (click)="file.click()" class="d-inline-block align-top perfil imagem clickable" src="{{image}}" width="280" height="280" (error)="substituirImagem($event)"/>
        </div>
      </div>
      <div class="col-lg-7 col-12 mt-3" *ngIf="funcionario">
        <form [formGroup]="editUserForm">
          <label class="label-text">Nome Completo</label>
          <div class="input-group">
            <input type="text" class="form-control" [ngClass]="cssValidator(f.nome)" [readOnly]="!modoEditar" #nome formControlName="nome">
            <div *ngIf="f.nome.errors?.required && f.nome.touched" class="invalid-feedback">
              Nome é obrigatorio.
            </div>
            <div *ngIf="f.nome.errors?.minlength && f.nome.touched" class="invalid-feedback">
              Nome deve ter mais que 5 caracteres.
            </div>
          </div>

          <div class="mt-3">
            <label class="label-text">Email</label>
            <div class="input-group">
              <input type="text" class="form-control" [ngClass]="cssValidator(f.email)" [readOnly]="!modoEditar" formControlName="email">
              <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
                E-mail é obrigatorio.
              </div>
              <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
                Endereço de E-mail inválido.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-12 mt-3" [ngClass]="{'col-lg-12': modoEditar}">
              <label class="label-text">Apelido</label>
              <div class="input-group">
                <input type="text" class="form-control" [ngClass]="cssValidator(f.apelido)" [readOnly]="!modoEditar" formControlName="apelido">
                <div *ngIf="f.apelido.errors?.required && f.apelido.touched" class="invalid-feedback">
                  Apelido é obrigatorio.
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 mt-3">
              <label class="label-text">Senha</label>
              <div class="input-group">
                <input type="text" class="form-control" [ngClass]="cssValidator(f.senha)" [readOnly]="!modoEditar" formControlName="senha">
                <div *ngIf="f.senha.errors?.required && f.senha.touched" class="invalid-feedback">
                  Senha é obrigatorio.
                </div>
                <div *ngIf="f.senha.errors?.minlength && f.senha.touched" class="invalid-feedback">
                  Senha deve conter no mínimo 6 caracteres.
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 mt-3" *ngIf="modoEditar">
              <label class="label-text">Confirmar Senha</label>
              <div class="input-group">
                <input type="text" class="form-control" [ngClass]="cssValidator(f.confirmarSenha)" [readOnly]="!modoEditar" formControlName="confirmarSenha">
                <div *ngIf="f.confirmarSenha.errors?.required" class="invalid-feedback">
                  Confirmar senha é obrigatorio.
                </div>
                <div *ngIf="f.confirmarSenha.errors?.mustMatch" class="invalid-feedback">
                  As duas senhas devem ser iguais.
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row d-flex justify-content-center mt-5 mb-2" *ngIf="modoEditar">
          <div class="custom-flex col-lg-3 col-6">
            <button class="blue-button" (click)="changeFuncionario()">Confirmar</button>
          </div>
          <div class="custom-flex col-lg-3 col-6">
            <button class="red-button" (click)="changeEditMode()">Cancelar</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<mat-progress-spinner *ngIf="loading" class="spinner" [mode]="'indeterminate'"></mat-progress-spinner>