<div class="container">

    <div class="d-flex justify-content-between mt-5">
        <div class="custom-flex">
            <p class="titulo">Meu Perfil</p>
        </div>
        <div class="custom-flex">
            <a>
                <div class="titulo botao">
                    Editar
                </div>
            </a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="row">
            <div class="col-lg-5 col-12 mt-3">
                <div class="text-center">
                    <img class="d-inline-block align-top perfil" src=".\assets\images\Perfil.svg" width="280" height="280" />
                </div>
            </div>
            <div class="col-lg-7 col-12 mt-3">
                <label class="label-text">Nome Completo</label>
                <div class="input-group">
                    <input type="text" class="form-control">
                </div>
                <div class="mt-3">
                    <label class="label-text">Email</label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12 mt-3">

                        <label class="label-text">Senha</label>
                        <div class="input-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mt-3">

                        <label class="label-text">Apelido</label>
                        <div class="input-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>