@import "/src/assets/styles/variables.scss";

.container {
    width: 85%;
}

.botao {
    font-size: 1.375rem;
    font-family: Segoe UI, Regular;
    font-weight: 500;
    color: $color-purple;
    cursor: pointer;
}
.simbolo {
    font-weight:900;
}
.blue-button {
    padding: 18px 20px; ;
}
.subtitulo {
    font-size: 1rem;
    font-family: Segoe UI, Regular;
    font-weight: 500;
    color: $color-black;
}
.texto {
    font-size: 1rem;
    font-family: Segoe UI, Regular;
    font-weight: 400;
    color: $color-black;  
}

.form-control-descricao{
    height: 12.4rem;
}

.form-control-titulo{
    height: 1.5rem;
}

.adicionar {
    height: 2.625rem;
    color: $color-input-text-gray;
    width: 85% !important;
}
.adicionar::placeholder {
    color: $color-purple;
    font-size: 1.25rem;
    font-weight: 525;
}
.label-text {
    color: $color-black;
    font-weight: 600;
    font-family: Segoe UI, Regular;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}
.azul {
    color: $color-blue;
}
.card {
    height:max-content;
}