@import "/src/assets/styles/variables.scss";

.container {
    width: 85%;
}
.custom-box {
    border: 1px solid $color-white;
    border-radius: 5px;
    background-color: $color-white;
    text-align: center;
    padding: 2px 10px;
    width: 100%;
    height: 12rem;
  }
  .blue-button {
    padding: 10px 5px;
 
  }
  .tres-pontos {
    cursor: pointer;
  }