@import "/src/assets/styles/variables.scss";

.container {
    width: 85%;
}
.card {
  height: 100%;
  overflow: auto;
}

.custom-box {
  border: 1px solid $color-white;
  border-radius: 5px;
  background-color: $color-white;
  text-align: center;
  padding: 2px 10px;
  width: 100%;
  height: 12rem;
}

.blue-button {
  padding: 10px 5px;

}

.tags-border{
  border-radius: 20px;
  min-width: 120px;
  padding: 7px
}

.tag-add-border{
  background-color: #D5CBFF;
  border: none;
  border-radius: 20px;
  width: 35px;
}

.tag-add{
  color: $color-purple;
  padding: 7px
}

.more-funcionarios-circle {
  background-color: #D5CBFF;
  border: none;
  border-radius: 20px;
  width: 30px;
  height: 28px;
}

.more-funcionarios-text {
  color: $color-purple;
  padding: 4px;
}

.image-circle{
  position: relative;
  filter: invert(57%) sepia(90%) saturate(2182%) hue-rotate(3deg) brightness(109%) contrast(102%);
}

.form-control {
  border-radius: 0;
  height: 2.75rem;
  background-color: $color-white;
  color: $color-black;
}


.botao {
  font-size: 1.375rem;
  font-family: Segoe UI, Regular;
  font-weight: 500;
  color: $color-purple;
  cursor: pointer;
}
