<div class="container">
    <div class="col-12 mt-5">
        <div class="titulo">
            Atividades
        </div>
    </div>


    <div class="row p-0">

        <div class="col-lg-6 col-md-12">
            <div class="custom-box mt-4">
                <div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="custom-box mt-4">
                <div>

                </div>
            </div>
        </div>

    </div>


    <div class="card mt-4">

        <div class="d-flex justify-content-end">
            <div class="col-3">
            <button class="blue-button" (click)="novaAtividade()"> + Nova Atividade </button>
        </div>
        </div>

        <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Responsáveis</th>
                <th scope="col">Categorias</th>
                <th scope="col">Status</th>
                <th scope="col">Progressão</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let atividade of atividades">
                <td>{{atividade.titulo}}</td>
                <td></td>
                <td>Documentação</td>
                <td>Fazendo</td>
                <td></td>
                <td class="tres-pontos"  (click)="irAtividade(atividade.id)"> <img class="d-inline-block align-top perfil" src=".\assets\images\tres-pontos.svg" width="20" height="20" /></td>
              </tr>
            </tbody>
          </table>


    </div>
</div>
