<section class="vh-100 image">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-5">
        <div class="card">
          <div class="row g-0">
            <div class=" col-12 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5">

                <form>

                  <div class="d-flex align-items-center justify-content-center mb-4 pb-2">
                    <img class="logo" src="../../../../../assets/images/departerLogo.png">
                  </div>

                  <div class="d-flex justify-content-center mb-2 pb-2">
                    <h1 class="login-text" >Fazer Login</h1>
                  </div>

                  <div class="form-floating mb-4">
                    <input type="email" id="inputEmail" class="form-control form-control-lg" placeholder="nome@email.com" />
                    <label for="inputEmail">Email</label>
                  </div>

                  <div class="form-floating mb-2">
                    <input type="password" id="inputSenha" class="form-control form-control-lg" placeholder="senha"/>
                    <label for="inputSenha">Senha</label>
                  </div>

                  <div class="mb-3 d-flex flex-row-reverse">
                    <a class="effect-underline text-muted" href="#">Esqueceu sua senha?</a>
                  </div>

                  <div class="d-flex justify-content-center pt-1 mb-4">
                    <button class="btn btn-purple col-12" type="button">Login</button>
                  </div>

                  <p class="cadastro-text">Não possui conta?
                    <a class="effect-underline" href="#!">Cadastre-se</a>
                  </p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
