<div class="modal-card">
    <header>
      <mat-icon class="close" mat-dialog-close (click)="onCancel()">close</mat-icon>
      <div class="text-center dialog-title w-100" mat-dialog-title>
        Adicionar Categoria
      </div>
    </header>


    <div mat-dialog-content>

      <div class="text-center dialog-text mb-4">
        Selecione as categorias que deseja adicionar
      </div>


      <div class="d-flex justify-content-center" *ngIf="categoriaPrimeiraMetade">

        <div class="d-flex flex-column me-4">
          <div class="d-flex justify-content-center tags-border clickable mb-3" id="categoriaPrimeiraMetade{{i}}" (click)="selecionarCategoria(i, 1, categoria)" [ngStyle]="{'background-color': categoria.cor}" *ngFor="let categoria of categoriaPrimeiraMetade; let i = index;">
            <div class="text-center text-break">{{categoria.nome}}</div>
          </div>
        </div>

        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center tags-border clickable mb-3" id="categoriaSegundaMetade{{i}}" (click)="selecionarCategoria(i, 2, categoria)" [ngStyle]="{'background-color': categoria.cor}" *ngFor="let categoria of categoriaSegundaMetade; let i = index;">
            <div class="text-center text-break">{{categoria.nome}}</div>
          </div>
        </div>

      </div>

      <div class="d-flex justify-content-center" *ngIf="categoriaPrimeiraMetade.length == 0">
          <div class="mt-3 mb-3 aviso">
            Nenhuma categoria foi encontrada !
          </div>
      </div>

    </div>


    <div class="d-flex justify-content-center mt-4 mb-3" mat-dialog-actions>
      <div class="col-lg-5 col-12 me-lg-2">
        <button mat-raised-button class="white-button" (click)="onCancel()">Cancelar</button>
      </div>
      <div class="col-lg-5 col-12">
        <button mat-raised-button class="red-button" (click)="onConfirm()">Confirmar</button>
      </div>
    </div>


  </div>
