<div class="container">

  <div class="d-flex justify-content-between mt-5">
    <div class="custom-flex">
      <p class="titulo">{{departamento?.nome}}</p>
    </div>
    <div class="custom-flex">
      <a>
        <div class="titulo botao clickable" (click)="detalhesDepartamento(idDepartamento)">
          + Ver Mais
        </div>
      </a>
    </div>
  </div>


  <div class="row">

    <div class="col-lg-8 col-12 mt-5">
      <div class="col-lg-11 col-12">
        <div class="titulo">
          Atividades
        </div>
        <div class="card mt-4">

            <table class="table table-borderless">
              <thead>
                <th>Título</th>
                <th>Entrega</th>
                <th>Status</th>
              </thead>
              <tbody>
                <tr *ngFor="let atividade of atividades; let i = index">
                  <td class="atividadeTexto">
                    {{atividade.titulo}}
                  </td>
                  <td class="atividadeTexto">
                    {{atividade.dataEntrega | date: 'dd/MM/yyyy'}}
                  </td>
                  <td class="atividadeTexto">
                    <div class="d-flex align-items-center">
                      <i class="fa-solid fa-circle icon-circle me-2" [style.color]="getCorStatusAtividade(atividade.statusAtividade)"></i>
                      {{ getNomeStatusAtividade(atividade.statusAtividade) }}
                    </div>
                  </td>
                  <td class="align-middle"> <img class="d-inline-block align-top perfil clickable"
                    src=".\assets\images\tres-pontos.svg" width="20" height="18" (click)="irAtividade(atividade.id)" />
                  </td>

              </tr>
            </tbody>
          </table>


          <div class="col-12" *ngIf="atividades.length == 0">
            <div class="mt-3 mb-3 aviso">
              Não existe nenhuma atividade nesse departamento!
            </div>
          </div>


        </div>


        <div class="row">
          <div class="col-lg-6 col-12 mt-5">
            <app-grafico-atividades-concluidas  [departamentoId]="departamentoId"></app-grafico-atividades-concluidas>
          </div>
          <div class="col-lg-6 col-12 mt-5">
            <app-grafico-horas-categorias  [departamentoId]="departamentoId"></app-grafico-horas-categorias>
          </div>

        </div>

        <div class="titulo mt-5">
          Planejamentos
        </div>
        <div class="card mt-4">

        </div>
      </div>

    </div>
    <div class="col-lg-4 col-12 mt-5">
      <div class="col-12">
        <div class="titulo">
          Funcionarios
        </div>
      </div>
      <div class="card mt-4">

        <div class="box-funcionarios">
          <table class="table default-text table-borderless" *ngIf="funcionariosLista.length != 0">
            <thead style="position:sticky">

              <th></th>

            </thead>
            <tbody>
              <tr *ngFor="let funcionario of funcionariosLista; let i = index">
                <td class="apelidoFuncionario">
                  <span class="apelidoFuncionario">
                    <img class="image-funcionario me-2" src="{{funcionario.funcionario.imagem}}"
                      (error)="substituirImagem($event)" width="33" height="31" />
                    {{funcionario.funcionario.nome}}
                  </span>
                </td>

              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>

</div>