@import "/src/assets/styles/variables.scss";


.card {
    height: max-content;
}
.botao {
    font-size: 1.375rem;
    font-family: Segoe UI, Regular;
    font-weight: 500;
    color: $color-purple;
    cursor: pointer;
}