<div class="container-fluid">

  <div class="row">

      <div class="col bloco text-center">
          <div class="mt-4">
              <p class="tituloTempo">Mês passado</p>
          </div>
          <div class="mt-1">
              <span class="tempo">{{transformarMinutosEmHoras(horasResumo.minutosMesPassado)}}</span>
          </div>
          <div class="mt-1 mb-4">
              <span class="descricao laranja">2h 15min acima da média</span>
          </div>
      </div>

      <div class="col bloco text-center ">
          <div class="mt-4">
              <p class="tituloTempo">Mês vigente</p>
          </div>
          <div class="mt-1">
              <span class="tempo">{{transformarMinutosEmHoras(horasResumo.minutosMesVigente)}}</span>
          </div>
          <div class="mt-1 mb-4">
              <span *ngIf="horasResumo.minutosMesRestantes > 0 && modoAdmin == false" class="descricao verde">{{transformarMinutosEmHoras(horasResumo.minutosMesRestantes)}} restantes</span>
              <span *ngIf="horasResumo.minutosMesRestantes <= 0 && modoAdmin == false" class="descricao vermelho">Não configurado
                <i class="ms-1 fa-regular fa-circle-question clickable" (click)="openInfoDialog()"></i>
              </span>
          </div>
      </div>

      <div class="col bloco text-center ">
          <div class="mt-4">
              <p class="tituloTempo">Hoje</p>
          </div>
          <div class="mt-1">
              <span class="tempo">{{transformarMinutosEmHoras(horasResumo.minutosHoje)}}</span>
          </div>
          <div class="mt-1 mb-4">
              <span *ngIf="horasResumo.minutosHojeRestantes > 0 && modoAdmin == false" class="descricao laranja">{{transformarMinutosEmHoras(horasResumo.minutosHojeRestantes)}} restantes</span>
              <span *ngIf="horasResumo.minutosHojeRestantes <= 0 && modoAdmin == false" class="descricao vermelho">Não configurado
                <i class="ms-1 fa-regular fa-circle-question clickable" (click)="openInfoDialog()"></i>
              </span>
          </div>
      </div>


  </div>

</div>
