$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #F1F1F1;
$color-dark-gray: #A3A3A3;
$color-purple: #542FEA;
$color-purple-darker: #3a15d1;
$color-red: #FF3A3A;
$color-lightred: #FFCBCB;
$color-darkgreen: #0D812E;
$color-green: #35DA3B;
$color-lightgreen: #CBFFD3;
$color-blue: #2D42FF;
$color-lightblue: #CBD6FF;
$color-orange: #FF9900;
