@import "/src/assets/styles/variables.scss";

.bloco {
    background-color: $color-white !important;
}
.tituloTempo {
    font-size: 1.15rem;
    font-family: Segoe UI, Regular;
    font-weight: 600;
}
.descricao {
    font-size: 1rem;
    font-family: Segoe UI, Regular;
    font-weight: 600;
}

.tempo {
    font-size: 2.75rem;
    font-family: Segoe UI, Regular;
    font-weight: 600;
    color: $color-purple;
}

.laranja {
    color: $color-orange;
}
.verde {
    color: $color-darkgreen;
}
.vermelho {
  color: $color-red
}
